<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://floorball.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>floorball.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>floorball</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$floorball</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:floorballxamarin.database.windows.net,1433;Initial Catalog=floorball;Persist Security Info=False;User ID=Phx37;Password=Metal1964;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:floorballxamarin.database.windows.net,1433;Initial Catalog=floorball;Persist Security Info=False;User ID=Phx37;Password=Metal1964;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FloorballServer.Models.ApplicationDbContext, FloorballServer" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FloorballEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:floorballxamarin.database.windows.net,1433;Initial Catalog=floorball;Persist Security Info=False;User ID=Phx37;Password=Metal1964;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:floorballxamarin.database.windows.net,1433;Initial Catalog=floorball;Persist Security Info=False;User ID=Phx37;Password=Metal1964;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Bll.FloorballEntities, Bll" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:floorballxamarin.database.windows.net,1433;Initial Catalog=floorball;Persist Security Info=False;User ID=Phx37;Password=Metal1964;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FloorballEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/FloorballModel.csdl|res://*/FloorballModel.ssdl|res://*/FloorballModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:floorballxamarin.database.windows.net,1433;Initial Catalog=floorball;Persist Security Info=False;User ID=Phx37;Password=Metal1964;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>